/*========================
       GRID
==========================*/

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
.col {
  flex: 1 0 0%;
}
.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}
.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}
.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}
.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}
.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}
.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}
.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}
@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%;
  }
  .row-cols-sm-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }
  .row-cols-md-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }
  .row-cols-lg-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    flex: 1 0 0%;
  }
  .row-cols-xl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
}
@media (min-width: 1400px) {
  .col-xxl {
    flex: 1 0 0%;
  }
  .row-cols-xxl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
}
.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}
.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}
.col-3 {
  flex: 0 0 auto;
  width: 25%;
}
.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}
.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}
.col-6 {
  flex: 0 0 auto;
  width: 50%;
}
.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}
.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}
.col-9 {
  flex: 0 0 auto;
  width: 75%;
}
.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}
.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}
.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
.offset-1 {
  margin-left: 8.33333333%;
}
.offset-2 {
  margin-left: 16.66666667%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.33333333%;
}
.offset-5 {
  margin-left: 41.66666667%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.33333333%;
}
.offset-8 {
  margin-left: 66.66666667%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.33333333%;
}
.offset-11 {
  margin-left: 91.66666667%;
}
.g-0,
.gx-0 {
  --bs-gutter-x: 0;
}
.g-0,
.gy-0 {
  --bs-gutter-y: 0;
}
.g-1,
.gx-1 {
  --bs-gutter-x: 0.25rem;
}
.g-1,
.gy-1 {
  --bs-gutter-y: 0.25rem;
}
.g-2,
.gx-2 {
  --bs-gutter-x: 0.5rem;
}
.g-2,
.gy-2 {
  --bs-gutter-y: 0.5rem;
}
.g-3,
.gx-3 {
  --bs-gutter-x: 1rem;
}
.g-3,
.gy-3 {
  --bs-gutter-y: 1rem;
}
.g-4,
.gx-4 {
  --bs-gutter-x: 1.5rem;
}
.g-4,
.gy-4 {
  --bs-gutter-y: 1.5rem;
}
.g-5,
.gx-5 {
  --bs-gutter-x: 3rem;
}
.g-5,
.gy-5 {
  --bs-gutter-y: 3rem;
}
@media (min-width: 576px) {
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.33333333%;
  }
  .offset-sm-2 {
    margin-left: 16.66666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333333%;
  }
  .offset-sm-5 {
    margin-left: 41.66666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333333%;
  }
  .offset-sm-8 {
    margin-left: 66.66666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333333%;
  }
  .offset-sm-11 {
    margin-left: 91.66666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --bs-gutter-x: 0;
  }
  .g-sm-0,
  .gy-sm-0 {
    --bs-gutter-y: 0;
  }
  .g-sm-1,
  .gx-sm-1 {
    --bs-gutter-x: 0.25rem;
  }
  .g-sm-1,
  .gy-sm-1 {
    --bs-gutter-y: 0.25rem;
  }
  .g-sm-2,
  .gx-sm-2 {
    --bs-gutter-x: 0.5rem;
  }
  .g-sm-2,
  .gy-sm-2 {
    --bs-gutter-y: 0.5rem;
  }
  .g-sm-3,
  .gx-sm-3 {
    --bs-gutter-x: 1rem;
  }
  .g-sm-3,
  .gy-sm-3 {
    --bs-gutter-y: 1rem;
  }
  .g-sm-4,
  .gx-sm-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-sm-4,
  .gy-sm-4 {
    --bs-gutter-y: 1.5rem;
  }
  .g-sm-5,
  .gx-sm-5 {
    --bs-gutter-x: 3rem;
  }
  .g-sm-5,
  .gy-sm-5 {
    --bs-gutter-y: 3rem;
  }
}
@media (min-width: 768px) {
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.33333333%;
  }
  .offset-md-2 {
    margin-left: 16.66666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333333%;
  }
  .offset-md-5 {
    margin-left: 41.66666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333333%;
  }
  .offset-md-8 {
    margin-left: 66.66666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333333%;
  }
  .offset-md-11 {
    margin-left: 91.66666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --bs-gutter-x: 0;
  }
  .g-md-0,
  .gy-md-0 {
    --bs-gutter-y: 0;
  }
  .g-md-1,
  .gx-md-1 {
    --bs-gutter-x: 0.25rem;
  }
  .g-md-1,
  .gy-md-1 {
    --bs-gutter-y: 0.25rem;
  }
  .g-md-2,
  .gx-md-2 {
    --bs-gutter-x: 0.5rem;
  }
  .g-md-2,
  .gy-md-2 {
    --bs-gutter-y: 0.5rem;
  }
  .g-md-3,
  .gx-md-3 {
    --bs-gutter-x: 1rem;
  }
  .g-md-3,
  .gy-md-3 {
    --bs-gutter-y: 1rem;
  }
  .g-md-4,
  .gx-md-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-md-4,
  .gy-md-4 {
    --bs-gutter-y: 1.5rem;
  }
  .g-md-5,
  .gx-md-5 {
    --bs-gutter-x: 3rem;
  }
  .g-md-5,
  .gy-md-5 {
    --bs-gutter-y: 3rem;
  }
}
@media (min-width: 992px) {
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.33333333%;
  }
  .offset-lg-2 {
    margin-left: 16.66666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333333%;
  }
  .offset-lg-5 {
    margin-left: 41.66666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333333%;
  }
  .offset-lg-8 {
    margin-left: 66.66666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333333%;
  }
  .offset-lg-11 {
    margin-left: 91.66666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --bs-gutter-x: 0;
  }
  .g-lg-0,
  .gy-lg-0 {
    --bs-gutter-y: 0;
  }
  .g-lg-1,
  .gx-lg-1 {
    --bs-gutter-x: 0.25rem;
  }
  .g-lg-1,
  .gy-lg-1 {
    --bs-gutter-y: 0.25rem;
  }
  .g-lg-2,
  .gx-lg-2 {
    --bs-gutter-x: 0.5rem;
  }
  .g-lg-2,
  .gy-lg-2 {
    --bs-gutter-y: 0.5rem;
  }
  .g-lg-3,
  .gx-lg-3 {
    --bs-gutter-x: 1rem;
  }
  .g-lg-3,
  .gy-lg-3 {
    --bs-gutter-y: 1rem;
  }
  .g-lg-4,
  .gx-lg-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-lg-4,
  .gy-lg-4 {
    --bs-gutter-y: 1.5rem;
  }
  .g-lg-5,
  .gx-lg-5 {
    --bs-gutter-x: 3rem;
  }
  .g-lg-5,
  .gy-lg-5 {
    --bs-gutter-y: 3rem;
  }
}
@media (min-width: 1200px) {
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.33333333%;
  }
  .offset-xl-2 {
    margin-left: 16.66666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333333%;
  }
  .offset-xl-5 {
    margin-left: 41.66666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333333%;
  }
  .offset-xl-8 {
    margin-left: 66.66666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333333%;
  }
  .offset-xl-11 {
    margin-left: 91.66666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --bs-gutter-x: 0;
  }
  .g-xl-0,
  .gy-xl-0 {
    --bs-gutter-y: 0;
  }
  .g-xl-1,
  .gx-xl-1 {
    --bs-gutter-x: 0.25rem;
  }
  .g-xl-1,
  .gy-xl-1 {
    --bs-gutter-y: 0.25rem;
  }
  .g-xl-2,
  .gx-xl-2 {
    --bs-gutter-x: 0.5rem;
  }
  .g-xl-2,
  .gy-xl-2 {
    --bs-gutter-y: 0.5rem;
  }
  .g-xl-3,
  .gx-xl-3 {
    --bs-gutter-x: 1rem;
  }
  .g-xl-3,
  .gy-xl-3 {
    --bs-gutter-y: 1rem;
  }
  .g-xl-4,
  .gx-xl-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-xl-4,
  .gy-xl-4 {
    --bs-gutter-y: 1.5rem;
  }
  .g-xl-5,
  .gx-xl-5 {
    --bs-gutter-x: 3rem;
  }
  .g-xl-5,
  .gy-xl-5 {
    --bs-gutter-y: 3rem;
  }
}
@media (min-width: 1400px) {
  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.33333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.66666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.33333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.66666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.33333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.66666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.33333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.66666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --bs-gutter-x: 0;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --bs-gutter-y: 0;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --bs-gutter-x: 0.25rem;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --bs-gutter-y: 0.25rem;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --bs-gutter-x: 0.5rem;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --bs-gutter-y: 0.5rem;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --bs-gutter-x: 1rem;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --bs-gutter-y: 1rem;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --bs-gutter-y: 1.5rem;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --bs-gutter-x: 3rem;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --bs-gutter-y: 3rem;
  }
}

/*========================
       SEARCH CONTAINER
==========================*/

/*========================
       MAX 1399.98
==========================*/

@media (max-width: 1399.98px) {
  .aw-footer-container .row.aw-footer-pd-3 {
    padding: 3rem 2rem 2rem 3rem;
  }
}

/*========================
       MAX 1199.98
==========================*/
@media (max-width: 1199.98px) {
  .ds-navbar-container {
    width: 75%;
  }
  .ds-log-reg-container {
    width: 20%;
  }
  .how-works-container-inner-inner,
  .customer-statistics-inner-inner {
    margin-bottom: 25px;
  }

  .row.aw-footer-container-inner {
    padding-top: 0px;
  }
  .aw-login-box {
    margin-right: 10px;
  }
  .row.aw-footer-container-inner {
    padding: 6.5rem 2rem 2rem 3rem;
  }

  .aw-footer-container .row.aw-footer-pd-3 {
    padding: 3rem 2rem 2rem 3rem;
  }
  .aw-footer-mb-25 {
    margin-bottom: 25px;
  }
  .aw-search-container {
    max-width: 1080px;
  }
}

/*========================
       MAX 991.98
==========================*/
@media (max-width: 991.98px) {
  .mobile-toggle {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
  }
  .mobile-toggle-box {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .ds-log-reg-container {
    width: 50%;
  }

  .aw-top-content .mobile-user-cart-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-login-user .bi {
    align-self: center;
    justify-self: center;
  }
  .aw-top-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .aw-heading h1 {
    font-size: 3.45rem;
  }
  h2.clr-primary {
    font-size: 1rem;
  }
  .row.aw-top-container {
    margin-top: 0;
    position: relative;
    padding: 16px 0px;
  }
  .ds-navbar-container {
    background-color: #fff;
    padding: 24px;
    position: fixed;
    top: 96px;
    left: -100%;
    width: 250px;
    height: 100%;

    transition: all 0.4s ease-in-out;
  }
  .aw-search-container {
    width: 100%;
  }
  .aw-search-container-inner {
    flex-direction: column;
  }
  .aw-search-content {
    width: 100%;
    margin: 0 0 25px 0;
  }
  .aw-search-container-inner .aw-search-content:last-child {
    margin-bottom: 0px;
    width: 50%;
    align-self: center;
  }
  .ds-dashboard-nav {
    padding-bottom: 0px;
  }
  .ds-navbar-container.active {
    left: 0%;
  }

  .aw-navbar .navbar-inner {
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .aw-navbar {
    width: 100%;
  }
  .aw-navbar .navbar-inner li {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
  }
  .aw-home-bg-container {
    padding-top: 200px;
  }
  .aw-scroll-top {
    right: 38px;
  }
  .why-azwaj-container-inner-inner {
    margin-bottom: 25px;
  }
  .aw-biodatas-sidebar {
    flex: 0 0 0px;
    position: relative;
    bottom: -1000px;
    transition: 0.4s ease-in-out;
  }

  .aw-biodatas-sidebar.active {
    display: block;
    position: absolute;
    transition: 0.4s;
    bottom: -78px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
  }
  .awb-head {
    position: relative;
    top: -45px;
    left: 0;
  }
  .aw-search-filters {
    position: relative;
    top: 40px;
  }
  .biodats-sidebar-closebar button {
    display: block;
  }
  .ds-search-fields {
    justify-content: space-around;
  }
  button.search-all-items-btn {
    width: 45%;
  }
  .search-filter-left button {
    display: block;
  }
  .dsdb-sidebar {
    transform: translateX(-250px);
    transition: all 0.5s ease-in-out;
    position: absolute;
  }
  .dsdb-sidebar.sidebar-close {
    transform: translateX(0px);
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  .dsdb-sidebar .ds-sidebar-trigger .bi-chevron-left::before {
    transform: rotate(180deg);
  }
  .dsdb-content {
    display: block;
    padding: 25px;
    flex: 1 1 calc(100%);
    transition: all 0.5s ease-in-out;
    overflow-x: auto;
  }
  .dsdb-content.sidebar-close {
    margin-left: 0px;
    flex: 1 1 calc(100%);
  }
  .why-azwaj-content {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .importance-links-content {
    flex-direction: column;
  }
  .importance-links-content {
    bottom: -220px;
    height: 220px;
    justify-content: space-evenly;
  }
  .aw-accordion-container {
    margin-bottom: 0px;
  }
  .why-azwaj-item:last-child {
    margin-bottom: 35px;
  }
  .row.aw-footer-container-inner {
    padding: 6.5rem 2rem 2rem 3rem;
  }
  .cta-each-item .how-to-create-biodata-btn {
    border: 1px solid #3e3286;
  }
  .importance-links-item a {
    font-size: 1rem;
  }
  .aw-footer-content {
    margin-bottom: 25px;
  }
  .aw-footer-container .row.aw-footer-pd-3 {
    padding: 3rem 2rem 2rem 3rem;
  }
  .about-us-tab-left,
  .faq-tab-left {
    margin-bottom: 25px;
  }
  .dsdb-home-card.visited .dsdb-home-card-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .dsdb-visited-item-left {
    width: 100%;
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 12px;
  }
  .dsdb-each-item.fs-1 span {
    font-size: 1.2rem;
  }
  .dsdb-header-content {
    display: none;
  }
  .dsdb-user-name {
    font-size: 1.2rem;
    color: var(--aw-clr-primary);
    font-weight: bold;
    margin-top: 10px;
  }
  .ds-user-biodata-number-mobile {
    font-size: 0.875rem;
    font-weight: normal;
    padding: 0px;
  }
  .ds-user-info-mobile {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 0.6rem;
    margin-bottom: 25px;
    padding: 25px;
  }

  .ds-user-info-nav-desk {
    display: none;
  }
  .ds-user-account-container .ds-row {
    margin: 0;
  }
  .dsdb-sidebar {
    height: 100%;
  }
  .biodata-buy-item {
    margin-bottom: 25px;
  }
}

/*========================
       MAX 767.98
==========================*/
@media (max-width: 767.98px) {
  .aw-home-bg-container {
    padding-top: 190px;
  }
  .aw-home-bg-container .aw-subheading {
    margin-top: 6px;
  }
  .ds-home-call-to-action-container {
    margin-top: 25px;
  }
  .aw-home-bg-container .aw-subheading {
    margin-top: 15px;
  }
  .aw-search-container {
    margin: 6.52vh auto;
  }
  .aw-heading h1 {
    font-size: 2.75rem;
  }

  .aw-subheading h2 {
    font-size: 1.2rem;
  }

  .aw-section-heading h2 {
    font-size: 2.5rem;
  }
  .cta-btn-group {
    flex-direction: column;
  }
  .cta-btn-group .cta-each-item:first-child {
    margin: 0px 0px 25px 0px;
  }
  .cta-text h3 {
    font-size: 1.2rem;
  }
  .cta-text {
    font-size: 0.8rem;
  }

  .cta-button {
    width: 200px;
    height: 50px;
    font-size: 0.8rem;
  }

  .footer-title h4 {
    padding-bottom: 5px;
  }
  .azwaj-address {
    margin-bottom: 10px;
  }
  .logo-white img {
    width: 215px;
  }
  h2.clr-primary {
    font-size: 1rem;
  }

  .aw-section-heading h2 {
    font-size: 2rem;
  }
  .container.aw-how-works-container {
    margin-top: 0px;
  }
  .aw-section-heading h2 {
    margin: 100px 0px 40px;
  }
  .importance-links-content {
    flex-direction: column;
  }
  .importance-links-content {
    bottom: -220px;
    height: 220px;
    justify-content: space-evenly;
  }
  .aw-accordion-container {
    margin-bottom: 0px;
  }
  .why-azwaj-item:last-child {
    margin-bottom: 35px;
  }
  .row.aw-footer-container-inner {
    padding: 6.5rem 2rem 2rem 3rem;
  }
  .cta-each-item .how-to-create-biodata-btn {
    border: 1px solid #3e3286;
  }
  .importance-links-item a {
    font-size: 1rem;
  }
  .aw-footer-content {
    margin-bottom: 25px;
  }
  .container .ds-hadith-container-inner {
    margin-top: 75px;
  }
}

/*========================
       MAX 575.98
==========================*/

@media (max-width: 575.98px) {
  .aw-heading h1 {
    font-size: 2rem;
  }

  h2.clr-primary {
    font-size: 0.9rem;
  }
  .aw-submit-btn {
    align-self: center;
    width: 100% !important;
    margin-top: 10px;
  }
  .aw-home-top-bg {
    background-image: url(../uploads/azwaj-banner=mobile.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
  }
  .aw-home-bg-container {
    padding-top: 180px;
  }
  .aw-home-bg-container .aw-subheading {
    margin-top: 6px;
  }
  h2.clr-primary {
    font-size: 0.75rem;
  }
  .ds-home-call-to-action-container {
    margin-top: 25px;
  }
  .aw-search-container {
    margin: 6.43vh auto;
  }
  .dsdb-biodata-commitment-container {
    width: 100%;
  }
  .dsdb-biodata-commitment-importance-container {
    width: 100%;
  }
  .dsdb-biodata-link-btn {
    margin-right: 5px;
  }
  .dsdb-biodata-link-btn i::before,
  .dsdb-delete-btn i::before,
  .dsdb-report-btn i::before {
    padding: 0px;
    background-color: transparent;
    border-radius: 0px;
  }
  .dsdb-success-nikah-importance-container {
    width: 100%;
  }
  .cta-btn-group {
    flex-direction: column;
  }
  .cta-btn-group .cta-each-item:first-child {
    margin: 0px 0px 25px 0px;
  }
  .cta-button a {
    width: 170px;
  }
  .importance-links-content {
    flex-direction: column;
  }
  .importance-links-content {
    bottom: -220px;
    height: 220px;
    justify-content: space-evenly;
  }
  .aw-accordion-container {
    margin-bottom: 0px;
  }
  .why-azwaj-item:last-child {
    margin-bottom: 25px;
  }
  .row.aw-footer-container-inner {
    padding: 6.5rem 2rem 2rem 3rem;
  }
  .cta-each-item .how-to-create-biodata-btn {
    border: 1px solid #3e3286;
  }
  .importance-links-item a {
    font-size: 1rem;
  }
  .aw-footer-content {
    margin-bottom: 25px;
  }
  .aw-registration-card,
  .aw-login-card {
    width: 100%;
  }
  .ds-preview-biodata {
    margin-top: 25px;
    width: 250px;
  }

  .container .ds-hadith-container-inner {
    margin-top: 75px;
  }
  .aw-section-heading h2 {
    padding: 0px 30px;
  }
  .why-azwaj-item {
    align-items: flex-start;
  }
  .search-filter-left button,
  .aw-search-fillter-right {
    width: 110px;
  }
  .dsdb-create-biodata-container a {
    width: 100%;
  }
  .aw-cta-content {
    flex-direction: column;
    height: 160px;
  }
  .cta-button a {
    width: 100%;
  }
  .biodata-buy-link-content {
    flex-direction: column;
  }
  .biodata-buy-wishlist {
    margin: 0px 0px 12px 0px;
  }
  table.dsdb-list-item-container {
    overflow-x: auto;
    position: relative;
    width: 600px;
  }
}
/*========================
       MAX 424.98
==========================*/
@media (max-width: 424.98px) {
  h2.clr-primary {
    font-size: 0.72rem;
  }
  .aw-heading h1 {
    font-size: 1.875rem;
  }
  .aw-section-heading h2 {
    font-size: 1.875rem;
    text-wrap: wrap;
    padding: 0px 10px;
  }

  .importance-links-item a {
    width: 250px;
  }
  .subpage-header {
    font-size: 1.4rem;
  }
  .aw-form-group-gender-birth,
  .aw-form-password-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .aw-form-group-gender,
  .aw-form-group-birth,
  .aw-form-password {
    width: 100%;
    margin: 0;
  }
  .aw-form-group-gender,
  .aw-form-password {
    margin-bottom: 20px;
  }
  .aw-form-group-container:nth-child(5) {
    margin-bottom: 0px;
  }
  .dsdb-header-text {
    font-size: 0.875rem;
  }
  .dsdb-each-item.fs-1 span {
    font-size: 1rem;
  }
  .dsdb-each-item span {
    font-size: 1.7rem;
  }
  .pay-with img {
    width: 130px;
  }
  .biodata-buy-info-place {
    font-size: 0.75rem;
  }
  .dsdb-list-link-item {
    flex-direction: column;
    padding: 0px 10px;
  }
  .dsdb-list-biodata-link {
    margin: 0px 0px 15px 0px;
  }
  .dsdb-sub-header h2 {
    font-size: 1.5rem;
  }
}
/*========================
       MAX 374.98
==========================*/
@media (max-width: 374.98px) {
  .aw-heading h1 {
    font-size: 1.7rem;
  }
  .importance-links-item a {
    width: 210px;
  }
  button.cardslider__dot-btn {
    width: 10px;
    height: 10px;
  }
  button.cardslider__dot-btn::before {
    width: 4px;
    height: 4px;
  }
  .ds-pagination-content li {
    padding: 0px 5px;
  }
  table.dsdb-list-item-container th,
  td {
    padding: 15px 5px;
  }
  .dsdb-list-info-text {
    margin-left: 10px;
  }
  .dsdb-list-info-place,
  .dsdb-list-info-biodata-number {
    font-size: 0.75rem;
  }
  .dsdb-each-item-container {
    padding: 10px;
  }
}
